
body {
	background: #f1f1f1;
	margin: 140px auto 25px;
}

main {
	color: #444;
	background: #fff;
	padding: 5rem;
	-webkit-font-smoothing: subpixel-antialiased;
	box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}

label {
	text-align: center;
	width: 100%;
}

#exp {
	height: 50px;
	line-height: 3rem;
	text-align: center;
	font-size: 2rem;
}

button {
	margin: 1.5em auto;
}

th, td {
	text-align: center;
}

.value-true {
	background: #dff0d8; /* #d9edf7 */
}

.value-false {
	background: #f2dede;
}

form {
	max-width: 300px;
	margin: 0 auto 2em;
}

.header, .footer {
	text-align: center;
}

.header {
	padding-bottom: 1rem;
}

.footer {
	padding-top: 1rem;
	color: #777;
	font-size: small;
}
