<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Boolean Algebra Calculator</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="dist/app.css">

	<script src="dist/app.js"></script>
</head>
<body ng-app="app">
	<div class="container">

		<div class="header clearfix">
			<h3 class="text-muted">Boolean Algebra Calculator</h3>
		</div>

		<main ng-controller="Parser">
			<form ng-submit="parse()">

				<div class="form-group">
					<label for="exp">Expression</label>
					<input ng-model="exp" type="text" id="exp" class="form-control" autocomplete="off">
				</div>

				<button type="submit" class="btn btn-primary btn-block btn-lg">Parse</button>
			</form>

			<aside ng-if="error" class="parse-error alert-danger">
				<p><strong>Error in expression:</strong></p>
				<p>{{ error }}</p>
			</aside>

			<table class="table table-hover table-bordered truth-table" ng-if="table.length">
				<thead>
				<tr>
					<th ng-repeat="var in parser.get_vars()" class="variable">{{ '' + var }}</th>
					<th ng-repeat="node in nodes">{{ '' + node }}</th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in table">
						<td ng-repeat="cell in row track by $index" class="value-{{ cell === '1' }}">{{ cell }}</td>
					</tr>
				</tbody>
			</table>
		</main>
	</div>

	<footer class="footer">
		<p>Shea Bunge, 2016</p>
	</footer>
</body>
</html>
